#pages {
	color: #000000;
	text-align: justify !important;
	margin-top: 15px;
}

#pages h2 {
	color: #859642;
	font-size: 1.5em;
	margin: 0;
	margin-left: 30px;
	margin-top: 30px;
}

#pages h3 { 
	font-size: 1.2em;
	margin-left: 30px;
	margin-top: 20px;
}


#pages p {
	margin-left: 30px;
	margin-right: 50px;
	margin-top: 10px;
	font-size: 14px;
}
	
#pages a {
	text-decoration: none;
	color: #333333;
	background-color: transparent;
}

#pages a:hover {
	text-decoration: none;
	color: #0066FF;	
	background-color: transparent;
}

.pages {
	color: #000000;
	text-align: justify !important;
	background-image: url(../images/bg-ubicacion.png);
	background-repeat: no-repeat;
	margin-top: 15px;
	height: 612px;
}

.margined { margin-top: 40px !important; }
.green { color: #687E1B; }
.actions { float: right; }

.ubicacion-dec {
	width: 618px;
	height: 292px;
	background-image: url(../images/ubicacion.jpg);
	margin-left: 35px;
}

.item {
	margin: auto !important;
	height: auto;
}

.item div {
	height: 280px;
	margin-bottom: 20px;
	background-color: #FFF;
	width: 85%;
	padding: 10px;
	text-align: center;
}

.item div .image {
	height: 180px;
	background-color: transparent;
}

.item div span {
	display: block;
	font-size: 15px;
	color: #36997D;
}

.push_10p {
	margin-left: 35px !important;
}

/* --- view.hospedaje ---*/
#hospedaje-1 { background-image: url(../images/hospedaje-1.png); }
#hospedaje-2 { background-image: url(../images/hospedaje-2.png); }
#hospedaje-3 { background-image: url(../images/hospedaje-3.png); }
#hospedaje-4 { background-image: url(../images/hospedaje-4.png); }


#hospedaje-1 p, #hospedaje-2 p { margin-left: 400px; }

#hospedaje-3 p { margin-left: 410px; }
#hospedaje-4 p { margin-left: 410px; }

#hospedaje-1, #hospedaje-2, #hospedaje-3, #hospedaje-4 {
	background-repeat: no-repeat;
	height: 393px;
}

#hospedaje-1 ul, #hospedaje-2 ul, #hospedaje-3 ul, #hospedaje-4 ul {
	margin-left: 380px;
	padding-top: 60px;
	color: #5E4D31;
	list-style: none;
	font-size: 13px;
}

/* --- view.services ---- */
#services {
	font-size: 14px;
}

/* --- view.tours ---*/
#tour-1 { background-image: url(../images/t1.png); }
#tour-2 { background-image: url(../images/t2.png); }
#tour-3 { background-image: url(../images/t3.png); }

#tour-1, #tour-2, #tour-3 {
	background-repeat: no-repeat;
	height: 559px;
}

#tour-2 { height: 650px; }


table { margin-top: -10px; }

table td {
	font-size: 13px;
	padding-left: 30px;
}

.tour-top p, .tour-bottom p {  font-size: 13px !important; z-index: -6 !important;}

#tour-1 .tour-top p { margin-top: -40px !important; z-index: -1 !important; }
#tour-2 .tour-top2 p { margin-top: -35px !important; z-index: -1 !important; }
#tour-3 .tour-top p { margin-top: -10px !important; z-index: -1 !important; }

.tour-top { padding-top: 45px; }
.tour-top2 { padding-top: 55px; }
.tour-bottom { margin-top: -20px; }

.reserve {
	background-image: url(../images/reserve.png);
	margin-left: 324px;
	width: 75px;
	height: 75px;
	margin-top: -33px;
	z-index: 2 !important;
}

div.reserve a {
	display: block !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 2 !important;
}

#tour-3 .tour-top .reserve { 
	margin-left: 342px; 
	margin-top: -35px !important;
}

/*Gallery*/
.wrap {
	width: 380px;
	height: 360px;
	float: left;
}

#bigpic1, #bigpic2, #bigpic3, #bigpic4  {
	margin-top: 50px;
	margin-left: 25px;
}

#thumbs1, #thumbs2, #thumbs3, #thumbs4 {
	#border: 1px solid blue;
	height: 100px;
	width: 350px;
	margin-top: 15px;
	margin-left: 30px;
}

#thumbs1 ul, #thumbs2 ul, #thumbs3 ul, #thumbs4 ul {
	width: 400px;
	margin: 0 !important;
}

#thumbs1 ul li, #thumbs2 ul li, #thumbs3 ul li, #thumbs4 ul li {
	display: inline !important;
	margin: 0 !important;
	margin-left: 10px !important;
}

#thumbs1 ul li a img, #thumbs2 ul li a img, #thumbs3 ul li a img, #thumbs4 ul li a img{
	margin-top: -60px;
	
}


/*Other Gallery*/

/*
#gallery { background-image: url(../images/hospedaje-4.png); }
*/

#gallery {
	background-repeat: no-repeat;
	height: 393px;
	margin: 0 auto;
}

#gallery ul {
	margin-left: 380px;
	padding-top: 60px;
	color: #5E4D31;
	list-style: none;
	font-size: 13px;
}


.wrapper {
	width: 600px;
	height: 360px;
	margin-left: 80px;
}

#bigpic {
	margin-top: 50px;
	margin-left: 30px;
}

.wrapper div #bigpic {
	margin-top: 50px;
	margin-left: 80px;
}

#thumbs {
	#border: 1px solid blue;
	height: 100px;
	width: 350px;
	margin-top: 15px;
	margin-left: 30px;
}

#thumbs ul {
	width: 600px;
	margin: 0 !important;
}

#thumbs ul li {
	display: inline !important;
	margin: 0 !important;
	margin-left: 10px !important;
}

#thumbs ul li a img {
	margin-top: -60px;
	
}


